* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.slider_menu {
    background-color: white;
}

.menus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.logo {
    margin-top: 25px;
    text-align: center;
}

.menu_1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    margin-top: 30px;
}

.menu_2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}

.login__block {
    margin-top: 200px;
    width: 450px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.login__title {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 30px;
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_block {
    width: 230px;
    padding: 6px 0 6px 10px;
    border-radius: 4px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 10px
}

.search_input {
    font-size: 16px;
    width: 180px;
    border: none;
    outline: none;
}

.about_me {
    display: flex;
    align-items: center;
    gap: 6px;
}

.about_me div img {
    width: 100%;
    height: 100%;
}

.profile_info_1 {
    line-height: 16px;
    font-weight: 700;
    padding: 2px;
}

.profile_info_2 {
    line-height: 16px;
    padding: 2px;
}


.data_display_block {
    padding: 24px;
}

.dashboard__title {
    padding: 24px;
    border-bottom: 1px solid black;
}

.bottom_block {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.statistic_title {
    font-size: 26px;
    width: 250px;
}

.statistics_block {
    padding: 24px;
    background-color: white;
    max-height: 500px;
}

.statistic_top_block {
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid black;
}

.statistic_percentage {
    font-size: 46px;
    color: rgb(36, 85, 36)
}

.top_block {
    padding: 10px;
}

.top_block__title {
    font-size: 26px;
}

.statistic_diagramm {
    max-width: 400px;
    max-height: 400px;
}

.students_table,
.teachers_table,
.groups_table {
    padding: 24px;
}

.students_block,
.teachers_block,
.groups_block {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border-bottom: 1px solid gray;
}

.students_title,
.teachers_title,
.groups_title {
    font-weight: 600;
    font-size: 26px;
}

.add_button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 20px;
    background-color: white;
    color: black;
    outline: none;
}

.add_button:hover {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white !important;
    color: black !important;
}


.add_button p {
    font-size: 18px;
}

.create_buttons {
    display: flex;
    gap: 15px;
}

.form_create {
    padding: 24px;
}

.first_row {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.first_row_upper_block,
.first_row_bottom_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.right_inputs {
    width: 100%;
}

.second_row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

/* .upload_img {
    padding: 40px !important;
} */

.gender_male {
    color: green;
}

.gender_female {
    color: red;
}

.actions_block {
    display: flex;
    justify-content: space-evenly;
}

.delete_btn,
.update_btn {
    background-color: inherit;
    outline: none;
    border: none;
}

.login_error {
    color: red;
    font-size: 16px;
    font-weight: 600;
}